body{
    margin: 0;
   background-color: black;
}
main{
    margin:30px auto;
    width:700px;
    background-image: url(main.png);
    background-repeat: repeat-y;
    padding:20px 0 ;
    

}
.innovite{
    margin: auto ;
    height: 90px;
    width: 660px;
    background-image: url(innovite.png);
    background-repeat: no-repeat;
}
/*.club{
    margin:0 auto 20px;
    height: 1000px;
    width: 580px;
    background-color: white;
}*/
.join{
    margin: 10px auto 20px;
    height: 350px;
    width: 660px;
    background-color: white;
    border: 4px solid yellow;
}
.event{
    margin:0 auto 20px;
    height: 890px;
    width: 660px;
    background-color: white;
}

.abt{ height: 350px;
    width: 660px;


}
.poster{
    height: 890px;
    width: 660px;
}
p{
    color: black;
    font-weight: bolder;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    width:700px;
}
#fjoin, #fevent{
    border: 4px solid rgb(255, 0, 106);
}
#cjoin, #cevent{
    border: 4px solid black;
}

#bjoin, #bevent{
    border: 4px solid gold;
}

#pjoin, #pevent{
    border: 4px solid gray;
}



